<a href="https://colab.research.google.com/github/ShiomaraBrandy/G4-github-desktop/blob/main/clase1_material_para_practicar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ejemplos Básicos de Presentación en Python

Estos ejemplos demuestran técnicas básicas pero efectivas para presentar datos en Python, sin utilizar módulos externos. Son particularmente útiles en ciencia de datos para mostrar resultados de manera clara y concisa.

# 1. Formateo de Strings Básico

In [ ]:
# Usando f-strings (Python 3.6+)
nombre = "Alice"
edad = 30

# forma clasica
print("Nombre:", nombre, "Edad:", edad)

#forma moderna
print(f"Nombre: {nombre}, Edad: {edad}")

# Usando el método format()
print("Nombre: {}, Edad: {}".format(nombre, edad))

# Usando % (estilo antiguo, pero aún utilizado)
print("Nombre: %s, Edad: %d" % (nombre, edad))

Nombre: Alice Edad: 30
Nombre: Alice, Edad: 30
Nombre: Alice, Edad: 30
Nombre: Alice, Edad: 30

# 2. Alineación y Relleno de Texto

In [ ]:
# Alineación a la derecha con relleno de espacios
print(f"{'Nombre':<10}|{'Edad':>5}") #la separacion es menor a 10 en derecha y mayor a 5 en izquierda
print(f"{'Alice':<10}|{30:>5}")
print(f"{'Bob':<10}|{25:>5}")

# Salida:
# Nombre     | Edad
# Alice      |   30
# Bob        |   25

Nombre    | Edad
Alice     |   30
Bob       |   25

# 3. Formateo de Números

In [ ]:
pi = 3.14159265359
print(pi)

# Redondeo a 2 decimales
print(f"Pi redondeado a 2 decimales: {pi:.3f}")
# obten 3.1415
#usando .float
print(f"pi redondeado a 4 decimales: {pi:.4f}")
# usando round(3.1415,3) no es bueno..
round(3.1415,3)

3.14159265359
Pi redondeado a 2 decimales: 3.142
pi redondeado a 4 decimales: 3.1416

3.142

In [ ]:
# Notación científica
print(f"Pi en notación científica: {pi:e}")

# Porcentaje
porcentaje = 0.75432
print(f"Porcentaje: {porcentaje:.2%}")

# 4. Tablas Simples

In [ ]:
print("a"*10) # repetir la cadena 10 veces
print("a"+"b") #concatenacion
print('a'+'b'+"c")  #concatenacion
print("'a'+'b'+'c'")
print("'a'+'b'")
print('"a"+"b"')

aaaaaaaaaa
ab
abc
'a'+'b'+'c'
'a'+'b'
"a"+"b"

In [ ]:
datos = [
    ("Manzanas", 50, 0.5, 3),
    ("Peras", 30, 0.75, 1),
    ("Naranjas", 40, 0.6, 2)
]

print(f"{'Producto':<10}{'Cantidad':>10}{'Precio':>10}{'kg':>10}")
print("-" * 40)
for producto, cantidad, precio, kg in datos:
    print(f"{producto:<10}{cantidad:>10}{precio:>10.2f}{kg:>10}")

# Salida:
# Producto   Cantidad    Precio
# ------------------------------
# Manzanas        50      0.50
# Peras           30      0.75
# Naranjas        40      0.60

Producto    Cantidad    Precio        kg
----------------------------------------
Manzanas          50      0.50         3
Peras             30      0.75         1
Naranjas          40      0.60         2

# Ejemplos Básicos de Variables y su Presentación en Python

Estos ejemplos demuestran el uso básico de diferentes tipos de variables en Python y cómo presentarlas de manera efectiva, sin utilizar módulos externos.

# 1. Variables Numéricas

In [ ]:
# Enteros
edad = 30
cantidad_productos = 100

# Flotantes
precio = 19.99
pi = 3.14159

# Presentación básica
print(f"Edad: {edad}")
print(f"Cantidad de productos: {cantidad_productos}")
print(f"Precio: ${precio:.2f}") #precio con 2 floats o decimales
print(f"Valor de Pi: {pi:.5f}") #pi con 5 floats

# Salida:
# Edad: 30
# Cantidad de productos: 100
# Precio: $19.99
# Valor de Pi: 3.14159

Edad: 30
Cantidad de productos: 100
Precio: $19.99
Valor de Pi: 3.14159

### **2. Variables de Texto (Strings)**

In [ ]:
nombre = "Alice"
apellido = "Smith"
mensaje = "Bienvenido a Python"

# Concatenación y presentación
nombre_completo = nombre + " " + apellido
print(f"Nombre completo: {nombre_completo}")
print(f"Mensaje: {mensaje}")
print(f"Longitud del mensaje: {len(mensaje)} caracteres")
#Len es una funcion nativa de python
# Salida:
# Nombre completo: Alice Smith
# Mensaje: Bienvenido a Python
# Longitud del mensaje: 20 caracteres

Nombre completo: Alice Smith
Mensaje: Bienvenido a Python
Longitud del mensaje: 19 caracteres

# 3. Listas

In [ ]:
frutas = ["manzana", "banana", "cereza", "durazno"]
numeros = [1, 2, 3, 4, 5]

# Presentación de listas
print("Lista de frutas:")
print(f"fruta[0] = {frutas[0]}")
print(f"fruta[1] = {frutas[1]}")
print(f"fruta[2] = {frutas[2]}")
print(f"fruta[3] = {frutas[3]}")

print("\nNúmeros y sus cuadrados:")
print(f"numeros[0]^2 =  {numeros[0]**2}")
print(f"numeros[1]^2 =  {numeros[1]**2}")
print(f"numeros[2]^2 =  {numeros[2]**2}")
print(f"numeros[3]^2 =  {numeros[3]**2}")
print(f"numeros[4]^2 =  {numeros[4]**2}")

# Salida:
# Lista de frutas:
# fruta[0] = manzana
# fruta[1] = banana
# fruta[2] = cereza
# fruta[3] = durazno
#
# Números y sus cuadrados:
# numeros[0]^2 =  1
# numeros[1]^2 =  4
# numeros[2]^2 =  9
# numeros[3]^2 =  16
# numeros[4]^2 =  25

Lista de frutas:
fruta[0] = manzana
fruta[1] = banana
fruta[2] = cereza
fruta[3] = durazno

Números y sus cuadrados:
numeros[0]^2 =  1
numeros[1]^2 =  4
numeros[2]^2 =  9
numeros[3]^2 =  16
numeros[4]^2 =  25

# 4. Diccionarios

In [ ]:
persona = {
    "nombre": "Bob",
    "edad": 35,
    "ciudad": "Nueva York",
    "profesion": "Ingeniero"
}

# Presentación de diccionarios
print("Información de la persona:")
print(f""" nombre: { persona['nombre']},
 edad: { persona['edad']},
 ciudad: { persona['ciudad']},
 profesion: { persona['profesion']}""")

# Salida:
# Información de la persona:
#   Nombre: Bob
#   Edad: 35
#   Ciudad: Nueva York
#   Profesion: Ingeniero

Información de la persona:
 nombre: Bob,
 edad: 35,
 ciudad: Nueva York,
 profesion: Ingeniero

#5. Variables Booleanas

In [ ]:
es_estudiante = True
tiene_descuento = False

# Presentación de booleanos
print(f"¿Es estudiante? {es_estudiante}")
print(f"¿Tiene descuento? {tiene_descuento}")

# Salida:
# ¿Es estudiante? Sí
# ¿Tiene descuento? No

¿Es estudiante? True
¿Tiene descuento? False

#6. Tuplas

In [ ]:
coordenadas = (10, 20)
color_rgb = (255, 128, 0)

# Presentación de tuplas
print(f"Coordenadas: x={coordenadas[0]}, y={coordenadas[1]}")
print(f"Color RGB: R={color_rgb[0]}, G={color_rgb[1]}, B={color_rgb[2]}")

# Salida:
# Coordenadas: x=10, y=20
# Color RGB: R=255, G=128, B=0

Coordenadas: x=10, y=20
Color RGB: R=255, G=128, B=0

#7. Conjuntos (Sets)

In [ ]:
numeros_unicos = {1, 2, 3, 4, 5, 5, 4, 3, 2, 1}
vocales = set("aeiou")

# Presentación de conjuntos
print(f"Números únicos: {numeros_unicos}")
print(f"Vocales: {vocales}")

# Salida:
# Números únicos: 1, 2, 3, 4, 5
# Vocales: a, e, i, o, u

Números únicos: {1, 2, 3, 4, 5}
Vocales: {'u', 'o', 'a', 'i', 'e'}

#8. Variables Compuestas (Ejemplo de Datos Científicos)

In [ ]:
experimento = {
    "id": "EXP001",
    "temperatura": [20.5, 21.0, 20.8, 21.2, 20.9],
    "tiempo": [0, 10, 20, 30, 40],
    "exitoso": True
}

# Presentación de datos experimentales
print(f"Experimento ID: {experimento['id']}")
print(f"Exitoso: {'Sí' if experimento['exitoso'] else 'No'}")
print("\nMediciones:")
print(f"{'Tiempo (min)':>12} | {'Temperatura (°C)':>16}")
print("-" * 31)

print(f"{experimento['tiempo'][0]:12d} | {experimento['temperatura'][0]:16.1f}")
print(f"{experimento['tiempo'][1]:12d} | {experimento['temperatura'][1]:16.1f}")
print(f"{experimento['tiempo'][2]:12d} | {experimento['temperatura'][2]:16.1f}")
print(f"{experimento['tiempo'][3]:12d} | {experimento['temperatura'][3]:16.1f}")
print(f"{experimento['tiempo'][4]:12d} | {experimento['temperatura'][4]:16.1f}")

# Cálculo y presentación de estadísticas básicas
temperaturas = experimento['temperatura']
temp_promedio = sum(temperaturas) / len(temperaturas)
temp_max = max(temperaturas)
temp_min = min(temperaturas)

print(f"\nTemperatura promedio: {temp_promedio:.2f}°C")
print(f"Temperatura máxima: {temp_max:.1f}°C")
print(f"Temperatura mínima: {temp_min:.1f}°C")

# Salida:
# Experimento ID: EXP001
# Exitoso: Sí
#
# Mediciones:
#  Tiempo (min) | Temperatura (°C)
# -------------------------------
#            0 |             20.5
#           10 |             21.0
#           20 |             20.8
#           30 |             21.2
#           40 |             20.9
#
# Temperatura promedio: 20.88°C
# Temperatura máxima: 21.2°C
# Temperatura mínima: 20.5°C

Experimento ID: EXP001
Exitoso: Sí

Mediciones:
Tiempo (min) | Temperatura (°C)
-------------------------------
           0 |             20.5
          10 |             21.0
          20 |             20.8
          30 |             21.2
          40 |             20.9

Temperatura promedio: 20.88°C
Temperatura máxima: 21.2°C
Temperatura mínima: 20.5°C

Estos ejemplos muestran cómo trabajar con diferentes tipos de variables en Python y presentarlas de manera clara y efectiva sin el uso de módulos externos. Son particularmente útiles en ciencia de datos para visualizar rápidamente información básica o cuando se trabaja en entornos con limitaciones de bibliotecas.

# Variables, Tipos de Datos y Operadores en Python

Este documento presenta ejemplos básicos de variables, tipos de datos y operadores en Python, con un enfoque en su aplicación en ciencia de datos.

In [ ]:
# 1. Variables y Tipos de Datos Básicos
# Enteros (int)

edad = 30
cantidad = 1000000
negativo = -5

print(f"Edad: {edad}, Tipo: {type(edad)}")
print(f"Cantidad: {cantidad}, Tipo: {type(cantidad)}")
print(f"Negativo: {negativo}, Tipo: {type(negativo)}")

Edad: 30, Tipo: <class 'int'>
Cantidad: 1000000, Tipo: <class 'int'>
Negativo: -5, Tipo: <class 'int'>

In [ ]:
# Flotantes (float)
pi = 3.14159
temperatura = -2.5
cientifica = 1.23e-4

print(f"Pi: {pi}, Tipo: {type(pi)}")
print(f"Temperatura: {temperatura}, Tipo: {type(temperatura)}")
print(f"Notación científica: {cientifica}, Tipo: {type(cientifica)}")

Pi: 3.14159, Tipo: <class 'float'>
Temperatura: -2.5, Tipo: <class 'float'>
Notación científica: 0.000123, Tipo: <class 'float'>

In [ ]:
# Cadenas (str)
nombre = "Alice"
frase = 'Python es genial'
multi_linea = """Este es un
texto de varias líneas"""

print(f"Nombre: {nombre}, Tipo: {type(nombre)}")
print(f"Frase: {frase}, Tipo: {type(frase)}")
print(f"Multi-línea: {multi_linea}, Tipo: {type(multi_linea)}")

Nombre: Alice, Tipo: <class 'str'>
Frase: Python es genial, Tipo: <class 'str'>
Multi-línea: Este es un
texto de varias líneas, Tipo: <class 'str'>

In [ ]:
# Booleanos (bool)
es_verdadero = True
es_falso = False

print(f"Es verdadero: {es_verdadero}, Tipo: {type(es_verdadero)}")
print(f"Es falso: {es_falso}, Tipo: {type(es_falso)}")

Es verdadero: True, Tipo: <class 'bool'>
Es falso: False, Tipo: <class 'bool'>

In [ ]:
# Operadores Aritméticos
a = 10
b = 3

suma = a + b
resta = a - b
multiplicacion = a * b
division = a / b
division_entera = a // b
modulo = a % b
potencia = a ** b

print(f"Suma: {suma}")
print(f"Resta: {resta}")
print(f"Multiplicación: {multiplicacion}")
print(f"División: {division}")
print(f"División entera: {division_entera}")
print(f"Módulo: {modulo}")
print(f"Potencia: {potencia}")

Suma: 13
Resta: 7
Multiplicación: 30
División: 3.3333333333333335
División entera: 3
Módulo: 1
Potencia: 1000

In [ ]:
# Operadores de Comparación
x = 5
y = 10

igual = x == y
diferente = x != y
mayor = x > y
menor = x < y
mayor_igual = x >= y
menor_igual = x <= y

print(f"Igual: {igual}")
print(f"Diferente: {diferente}")
print(f"Mayor: {mayor}")
print(f"Menor: {menor}")
print(f"Mayor o igual: {mayor_igual}")
print(f"Menor o igual: {menor_igual}")

Igual: False
Diferente: True
Mayor: False
Menor: True
Mayor o igual: False
Menor o igual: True

In [ ]:
# Operadores Lógicos
p = True
q = False

and_logico = p and q
or_logico = p or q
not_logico = not p

print(f"AND lógico: {and_logico}")
print(f"OR lógico: {or_logico}")
print(f"NOT lógico: {not_logico}")

AND lógico: False
OR lógico: True
NOT lógico: False

In [ ]:
# Listas
numeros = [1, 2, 3, 4, 5]
mixta = [1, "dos", 3.0, [4, 5]]

print(f"Lista de números: {numeros}, Tipo: {type(numeros)}")
print(f"Lista mixta: {mixta}, Tipo: {type(mixta)}")

# Operaciones con listas
print(f"Primer elemento: {numeros[0]}")
print(f"Último elemento: {numeros[-1]}")
print(f"Sublista: {numeros[1:3]}")
numeros.append(6)
print(f"Después de append: {numeros}")

Lista de números: [1, 2, 3, 4, 5], Tipo: <class 'list'>
Lista mixta: [1, 'dos', 3.0, [4, 5]], Tipo: <class 'list'>
Primer elemento: 1
Último elemento: 5
Sublista: [2, 3]
Después de append: [1, 2, 3, 4, 5, 6]

In [ ]:
# Tuplas
coordenadas = (10, 20)
punto_3d = (1, 2, 3)

print(f"Coordenadas: {coordenadas}, Tipo: {type(coordenadas)}")
print(f"Punto 3D: {punto_3d}, Tipo: {type(punto_3d)}")

# Operaciones con tuplas
print(f"Primera coordenada: {coordenadas[0]}")
print(f"Últimas dos coordenadas de punto 3D: {punto_3d[1:]}")

Coordenadas: (10, 20), Tipo: <class 'tuple'>
Punto 3D: (1, 2, 3), Tipo: <class 'tuple'>
Primera coordenada: 10
Últimas dos coordenadas de punto 3D: (2, 3)

In [ ]:
# Diccionarios
persona = {"nombre": "Bob", "edad": 30, "ciudad": "Nueva York"}
config = {"debug": True, "max_conexiones": 100}

print(f"Persona: {persona}, Tipo: {type(persona)}")
print(f"Configuración: {config}, Tipo: {type(config)}")

# Operaciones con diccionarios
print(f"Nombre: {persona['nombre']}")
persona['profesion'] = 'Ingeniero'
print(f"Después de añadir profesión: {persona}")

Persona: {'nombre': 'Bob', 'edad': 30, 'ciudad': 'Nueva York'}, Tipo: <class 'dict'>
Configuración: {'debug': True, 'max_conexiones': 100}, Tipo: <class 'dict'>
Nombre: Bob
Después de añadir profesión: {'nombre': 'Bob', 'edad': 30, 'ciudad': 'Nueva York', 'profesion': 'Ingeniero'}

In [ ]:
# Conversión entre Tipos de Datos
# Conversión a int
entero_de_float = int(3.14)
entero_de_string = int("100")

# Conversión a float
float_de_int = float(5)
float_de_string = float("3.14")

# Conversión a string
string_de_int = str(42)
string_de_float = str(2.718)

# Conversión a lista
lista_de_tupla = list((1, 2, 3))
lista_de_string = list("Python")

print(f"Entero de float: {entero_de_float}")
print(f"Entero de string: {entero_de_string}")
print(f"Float de int: {float_de_int}")
print(f"Float de string: {float_de_string}")
print(f"String de int: {string_de_int}")
print(f"String de float: {string_de_float}")
print(f"Lista de tupla: {lista_de_tupla}")
print(f"Lista de string: {lista_de_string}")

Entero de float: 3
Entero de string: 100
Float de int: 5.0
Float de string: 3.14
String de int: 42
String de float: 2.718
Lista de tupla: [1, 2, 3]
Lista de string: ['P', 'y', 't', 'h', 'o', 'n']

# Ejemplo Práctico: Análisis Básico de Datos

In [ ]:
# Datos de ventas mensuales
ventas = [100, 150, 200, 80, 120, 190, 210, 170, 160, 200, 230, 180]

# Cálculos básicos
total_ventas = sum(ventas)
promedio_ventas = total_ventas / len(ventas)
venta_maxima = max(ventas)
venta_minima = min(ventas)

print(f"Total de ventas: ${total_ventas}")
print(f"Promedio de ventas: ${promedio_ventas:.2f}")
print(f"Venta máxima: ${venta_maxima}")
print(f"Venta mínima: ${venta_minima}")

# Análisis de tendencia
tendencia_positiva = ventas[-1] > ventas[0]
print(f"¿Tendencia positiva? {'Sí' if tendencia_positiva else 'No'}")

# Categorización de meses
meses_buenos = [venta for venta in ventas if venta > promedio_ventas]
print(f"Número de meses buenos: {len(meses_buenos)}")

# Resumen en diccionario
resumen = {
    "total": total_ventas,
    "promedio": promedio_ventas,
    "maximo": venta_maxima,
    "minimo": venta_minima,
    "meses_buenos": len(meses_buenos)
}

print("\nResumen de ventas:")

print(f"  {list(resumen.keys())[0]}: {resumen['total']}")
print(f"  {list(resumen.keys())[1]}: {resumen['promedio']}")
print(f"  {list(resumen.keys())[2]}: {resumen['maximo']}")
print(f"  {list(resumen.keys())[3]}: {resumen['minimo']}")
print(f"  {list(resumen.keys())[4]}: {resumen['meses_buenos']}")

Total de ventas: $1990
Promedio de ventas: $165.83
Venta máxima: $230
Venta mínima: $80
¿Tendencia positiva? Sí
Número de meses buenos: 7

Resumen de ventas:
  total: 1990
  promedio: 165.83333333333334
  maximo: 230
  minimo: 80
  meses_buenos: 7